@import url('navbar.css');
@import url('hero.css');
@import url('about.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    
}

.container{
    padding: 0px 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 24rem 18rem 24rem 24rem;
    grid-template-areas: 
    'hero-img hero-img hero-img hero-img'
    'hero-text hero-text hero-text hero-text'
    'about-img about-img about-img about-img'
    'about-text about-text about-text about-text'
    
    
    
    ;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
    grid-gap: 16px;
    
}

/* MEDIA QUERIES */

@media(min-width: 375px){
   
}


@media(min-width: 480px){
   
}

@media(min-width: 640px){
    .grid-container{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 24rem 18rem 24rem 24rem;
        grid-template-areas: 
       
        'hero-img hero-img hero-img hero-img hero-img hero-img'
        'hero-text hero-text hero-text hero-text hero-text hero-text'
        'about-img about-img about-img about-img about-img about-img'
        'about-text about-text about-text about-text about-text about-text'
        
        
        
        ;
    }
    .container{
        padding: 0px 32px;
    }

}

@media(min-width: 768px){
    .container{
        padding: 0px 64px;
    }
    .grid-container{
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows:24rem 24rem;
        grid-template-areas: 
        
        'hero-text hero-text hero-text hero-text hero-img hero-img hero-img hero-img'
        'about-img about-img about-img about-img about-text about-text about-text about-text'
        
        
        
        ;
    }

    
}

@media(min-width: 1024px){
    .container{
        padding: 0px 100px;
    }

    .grid-container{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows:24rem 24rem;
        grid-template-areas: 
        
        'hero-text hero-text hero-text hero-text hero-text hero-text hero-img hero-img hero-img hero-img hero-img hero-img'
        'about-img about-img about-img about-img about-img about-img about-text about-text about-text about-text about-text about-text'
        
        
        
        ;
    }
}

@media(min-width: 1280px){
    .container{
        padding: 0px 120px;
    }
}

@media(min-width: 1536px){
    .container{
        padding: 0px 130px;
    }
}