.mobile-navbar{
    padding-top: 33px !important;
    position: absolute;
    z-index: 5;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh; 
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.active{
    right: 0;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container button{
    background-color: transparent;
    border: none;
}

.header-container img{
    height: 1.75rem;
}

.mobile-navbar ul li{ 
    display: flex;
    gap: .75rem;
    
}

.mobile-navbar ul li img{ 
    
    height: 1.125rem;

}

.mobile-navbar ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.125rem;
    list-style-type: none;
}

.mobile-navbar-content{
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 90vh;
    justify-content: space-between;
    
}

.mobile-navbar-content .btn-container{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* MEDIA QUERIES */

@media(min-width: 375px){
   
}


@media(min-width: 480px){
   
}

@media(min-width: 640px){
    

}

@media(min-width: 768px){
   .mobile-navbar{
    display: none !important;
   }
    
}

@media(min-width: 1024px){
   
}

@media(min-width: 1280px){
    
}

@media(min-width: 1536px){
    
}